@model ModelProject.SHRTimesModel
@{
    Layout = null;
    List<SelectListItem> ArrSecPro = new List<SelectListItem>();
    ArrSecPro.Add(new SelectListItem { Text = "请选择部门", Value = "" });
    ArrSecPro.Add(new SelectListItem { Text = "生产部", Value = "2" });
    ArrSecPro.Add(new SelectListItem { Text = "办公室", Value = "1" });
}
@Html.Action("_Meta", "Home")
<nav class="breadcrumb">
    <i class="Hui-iconfont">&#xe67f;</i>首页<span class="c-gray en">&gt;</span>财务管理<span class="c-gray en">&gt;</span>工人考勤列表
    <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a>
</nav>
<div class="page-container">
    <div class="text-c">
        <input type="text" onfocus="WdatePicker({ maxDate:'#F{$dp.$D(\'logmax\')||\'%y-%M-%d\'}' })" id="logmin" class="input-text Wdate" style="width:120px;" value="@Model.StartTime">
        -
        <input type="text" onfocus="WdatePicker({ minDate:'#F{$dp.$D(\'logmin\')}',maxDate:'%y-%M-%d' })" id="logmax" class="input-text Wdate" style="width:120px;" value="@Model.EndTime">

        <button id="btnSearch" class="btn btn-success" type="submit"><i class="Hui-iconfont">&#xe665;</i>搜素</button>
    </div>
    <div class="cl pd-5 bg-1 bk-gray mt-20">
        <span class="f-l">
            
        </span>
    </div>
    <div class="mt-20 checkmodel">
        @*@Html.Action("PageList","Article")*@
        <table class="table table-border table-bordered table-bg table-hover table-sort">
            <thead>
				<tr class="text-l">
					<th width="25"><input type="checkbox" name="" value=""></th>
					<th>姓名</th>
					<th>部门</th>
					<th>月份</th>
					<th>1</th>
					<th>2</th>
					<th>3</th>
					<th>4</th>
					<th>5</th>
					<th>6</th>
					<th>7</th>
					<th>8</th>
					<th>9</th>
					<th>10</th>
					<th>11</th>
					<th>12</th>
					<th>13</th>
					<th>14</th>
					<th>15</th>
					<th>16</th>
					<th>17</th>
					<th>18</th>
					<th>19</th>
					<th>20</th>
					<th>21</th>
					<th>22</th>
					<th>23</th>
					<th>24</th>
					<th>25</th>
					<th>26</th>
					<th>27</th>
					<th>28</th>
					<th>29</th>
					<th>30</th>
					<th>31</th>
					<th>应出勤</th>
					<th>实出勤</th>
					<th>上月累计调休</th>
					<th>本月调休</th>
					<th>累计调休</th>
					<th style="width:100px;">操作</th>
				</tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

@Html.Action("_Footer", "Home")
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="~/js/DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="~/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="~/js/ajaxScript.js?v=4"></script>
<script type="text/javascript">

    var param = {};
	$(function () { //搜索条件
		param["TypeId"] = 2;
        var StartTime = $("#logmin").val().trim();
        var EndTime = $("#logmax").val().trim();
        //搜索
        param["StartTime"] = StartTime;
        param["EndTime"] = EndTime;
        search(param);
    });
    $("#btnSearch").click(function () {
        //搜索条件
        var StartTime = $("#logmin").val().trim();
        var EndTime = $("#logmax").val().trim();
        //搜索
        param["StartTime"] = StartTime;
        param["EndTime"] = EndTime;
        param["TypeId"] = 2;
        //初始化，然后绑定
        $('.table-sort').DataTable().destroy();
        search(param);
    });

    function search(param) {
        $('.table-sort').dataTable({
            "aaSorting": [[2, "desc"]],//默认第几个排序
            "bStateSave": false,//状态保存
            "scrollX": true,
            "bAutoWidth": false,
            "ajax": function (data, callback, settings) {
                ajaxRequest("post", "/HR/PageList", param, function (result) {
                    var returnData = {};
                    returnData.data = result;
                    callback(returnData);
                });
            },
            "columnDefs": [//对table格式的定义（表格的列从0开始）
                {
                    targets: 0,
                    orderable: false,
                    render: function (data, type, row) {
                        var StrArr = "";
                        StrArr = '<input type="checkbox" value="' + row.Id + '" >';
                        return StrArr;
                    }
                }, {
                    targets: 40,//把第九列的样式改为超链接
                    render: function (data, type, row) {
                        var StrCheck = '<a href="javascript:void(0);" style="text-decoration:none" class="ml-10" onclick="editwindow(\'考勤编辑\',\'/HR/CWWork\', \'' + row.Id + '\', \'650\', \'400\')" title="考勤编辑"><i class="Hui-iconfont">&#xe6df;</i></a>';

                        return StrCheck;

                    }
                }
            ],
            "columns": [//返回的json数据在这里填充，注意一定要与上面的<th>数量对应，否则排版出现扭曲
                { "data": "Id" },
                { "data": "Name", "defaultContent": "", "className": "textoverflow" },
                { "data": "DepartmentName", "defaultContent": "", "className": "textoverflow" },
                {
                    "data": "d_start", "defaultContent": "", "className": "textoverflow c-red", "render": function (data) {
                        if (data != null) {
							var NewTime = parseInt(data.replace(/\D/igm, ""));
							var date = formatDate(NewTime);
							return date.split('-')[1];
                        }
                    }
                },
				 
				{ "data": "d1", "defaultContent": "", "className": "Stextoverflow" },
				{ "data": "d2", "defaultContent": "", "className": "Stextoverflow" },
				{ "data": "d3", "defaultContent": "", "className": "Stextoverflow" },
				{ "data": "d4", "defaultContent": "", "className": "Stextoverflow" },
				{ "data": "d5", "defaultContent": "", "className": "Stextoverflow" },
				{ "data": "d6", "defaultContent": "", "className": "Stextoverflow" },
				{ "data": "d7", "defaultContent": "", "className": "Stextoverflow" },
				{ "data": "d8", "defaultContent": "", "className": "Stextoverflow" },
				{ "data": "d9", "defaultContent": "", "className": "Stextoverflow" },
				{ "data": "d10", "defaultContent": "", "className": "Stextoverflow" },
				{ "data": "d11", "defaultContent": "", "className": "Stextoverflow" },
				{ "data": "d12", "defaultContent": "", "className": "Stextoverflow" },
				{ "data": "d13", "defaultContent": "", "className": "Stextoverflow" },
				{ "data": "d14", "defaultContent": "", "className": "Stextoverflow" },
				{ "data": "d15", "defaultContent": "", "className": "Stextoverflow" },
				{ "data": "d16", "defaultContent": "", "className": "Stextoverflow" },
				{ "data": "d17", "defaultContent": "", "className": "Stextoverflow" },
				{ "data": "d18", "defaultContent": "", "className": "Stextoverflow" },
				{ "data": "d19", "defaultContent": "", "className": "Stextoverflow" },
				{ "data": "d20", "defaultContent": "", "className": "Stextoverflow" },
				{ "data": "d21", "defaultContent": "", "className": "Stextoverflow" },
				{ "data": "d22", "defaultContent": "", "className": "Stextoverflow" },
				{ "data": "d23", "defaultContent": "", "className": "Stextoverflow" },
				{ "data": "d24", "defaultContent": "", "className": "Stextoverflow" },
				{ "data": "d25", "defaultContent": "", "className": "Stextoverflow" },
				{ "data": "d26", "defaultContent": "", "className": "Stextoverflow" },
				{ "data": "d27", "defaultContent": "", "className": "Stextoverflow" },
				{ "data": "d28", "defaultContent": "", "className": "Stextoverflow" },
				{ "data": "d29", "defaultContent": "", "className": "Stextoverflow" },
				{ "data": "d30", "defaultContent": "", "className": "Stextoverflow" },
				{ "data": "d31", "defaultContent": "", "className": "Stextoverflow" },
				{ "data": "shouldworkingday", "defaultContent": "", "className": "c-primary" },
				{ "data": "WorkDay", "defaultContent": "", "className": "c-green" },
				{ "data": "TopMonthTX", "defaultContent": "", "className": "c-green" },
				{ "data": "MonthTX", "defaultContent": "", "className": "c-green" },
				{ "data": "TotalTX", "defaultContent": "", "className": "c-green" },
            ],
        });
    };

   
</script> 