@model ModelProject.SemiModel
@{Layout = null;
    List<SelectListItem> ArrGrade = new List<SelectListItem>();
    ArrGrade.Add(new SelectListItem { Text = "请选择产品等级", Value = "" });
    ArrGrade.Add(new SelectListItem { Text = "低级", Value = "1" });
    ArrGrade.Add(new SelectListItem { Text = "中级", Value = "6" });
    ArrGrade.Add(new SelectListItem { Text = "高级", Value = "9" });
 }

@Html.Action("_Meta", "Home")

<script type="text/javascript" src="~/js/jquery.min.js"></script>
<article class="page-container">
    <form class="form form-horizontal" id="formadd">
        @Html.HiddenFor(k => k.ListId)
        <div style="height:20px;"></div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>所属仓库：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <span class="select-box" style="width:200px;">
                    @Html.DropDownListFor(k => k.INVId, Model.CKDroList, new { @class = "select" })
                </span>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>产品等级：</label>
            <div class="formControls col-xs-8 col-sm-9" style="width:150px;">
                <span class="select-box" style="width:150px;">
                    @Html.DropDownListFor(k => k.Grade, ArrGrade, new { @class = "select" })
                </span>
            </div>
        </div>
        <div style="height:30px;"></div>
        <div class="row cl mt-30">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
                <button class="btn btn-primary radius" type="submit" style="width:120px;"><i class="Hui-iconfont">&#xe632;</i>保存</button>
                <button onClick="removeIframe();" class="btn btn-default radius ml-20" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
            </div>
        </div>
    </form>
</article>
<script type="text/javascript" src="~/js/ajaxScript.js?v=1"></script>
<script type="text/javascript" src="~/js/layer/layer.js"></script>
<script type="text/javascript" src="~/js/jquery.validation/jquery.validate.js"></script>
<script type="text/javascript" src="~/js/jquery.validation/messages_zh.js"></script>
<script type="text/javascript">

    $(function () {
        //表单验证
        $("#formadd").validate({
            rules: {
                INVId: { required: true, },
                Grade: { required: true, },
            },
            onkeyup: false,
            focusCleanup: true,
            success: "valid",
            submitHandler: function (form) {
                //构造上传数据
                var param = {};
                var paramArray = $(form).serializeArray();
                for (var i = 0; i < paramArray.length; ++i) {
                    var o = paramArray[i];
                    param[o["name"]] = o["value"];
                };
                ajaxRequest("post", "/Labels/PostCheck", param, function (d) {
                    if (d == "1") {
                        var MSG = "审核操作，审核ID：@Model.ListId，审核网址：/Labels/PostCheck";
                        AddWorkLogs(MSG, 5);
                        layer.msg("操作成功！", { icon: 1, time: 1000 });
                    } else {
                        layer.msg("服务器错误！", { icon: 2, time: 1000 });
                    }
                    setTimeout(function () {
                        parent.window.location.reload();
                        var index = parent.layer.getFrameIndex(window.name);
                        parent.layer.close(index);
                    }, 1000);
                });
            }
        });
    });

</script>


<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>