@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>香凝工艺--后台管理系统</title>
    <link type="text/css" href="~/css/common.css?v=2" rel="stylesheet" />
    <link type="text/css" href="~/css/admin.css?v=5" rel="stylesheet" />
    <link type="text/css" href="~/css/iconfont/iconfont.css" rel="stylesheet" />

</head>
<body>

