<div class="page-container">
    <p class="f-20 text-success">欢迎进入<span class="f-14">香凝工艺品后台管理系统！</span><span id="top_time" class="c-green"></span></p>
    <h3>一、基本操作要求</h3>
    <p>1、各部门操作人员，必须熟练掌握有关ERP的流程、操作要领及相关专业常识，明确本部门在ERP职责范围、责任和具体要求，并在实际运用中不断提高操作技能水平。 </p>
    <p>2、在操作中，如遇任何疑问或者问题，要及时反应上报，或找相关人员及时处理解决，如造成流程问题的，当事人负主要责任。</p>
    <p>3、各部门的直接操作人员应在规定时间内将上报业务数据及时录入（知道或应当之日起的2天内操作完成），如果超时录入不能形成业务数据链，导致在系统中的数据不完整的，严肃处理; 第一次罚款50、第二次罚款100、第三次停止操作该系统。</p>
    <h3>二、数据录入的要求</h3>
    <p>1、数据输入必须规范，输入格式应前后一致，不允许随便变改编码规则，导致给相关部门造成信息误导。 </p>
    <p>2、数据输入错误，经本人发现及时修正，未给公司造成损失的，不予追究，其他部门查看发现及时告知，避免错误延伸，其他部门发现错误给予一定奖励，相反操作员给予一定惩罚。</p>
    <h3>三、保密规定</h3>
    <p>1、对自己的操密码必须保管好，不能向任何人透露，每个操作人员都有一定的工作内容，如因密码泄露被他人盗用，造成的后果是难以预计的，而该责任要由密码的原拥有者负责。</p>
    <p>2、每个操作人员在使用完电脑、下班或者暂时离开岗位时要习惯退出ERP系统，避免他人继续使用你的密码操作电脑，否则所有因此造成的经济损失由该操作人员负责。</p>
    <p>3、ERP系统的数据尤为重要，也是整个公司的核心数据，禁止数据拷贝、泄露、售卖，若有此种行为的，一经发现，处以重罚。</p>
    <h3>四、部门协调</h3>
    <p>ERP项目的实施是一个负责而艰巨的系统工程，它的运用成功与否，不仅涉及到各部门业务人员对操作的熟悉程度，更重要的是运用ERP过程中各部门之间的协调沟通程度。</p>
    <p>因此，要求各部门在使用ERP的过程中，按照ERP管理制度严格要求自己；二是要在使用过程中相互配合，责任问题不推诿，及时进行沟通和协调工作关系，通过ERP的标准化、系列化、规范化、提供积极方案，充分发挥ERP在企业经营中的积极作用。</p>
    
</div>
