@{
    Layout = null;
}



    <div class="page-container">
        <p class="f-20 text-success">欢迎进入<span class="f-14">后台管理系统！</span><span id="top_time" class="c-green"></span></p>
        <h2>一、基本操作要求</h2>
        <p>1、各部门操作人员，必须熟练掌握有关ERP的流程、操作要领及相关专业常识，明确本部门在ERP职责范围、责任和具体要求，并在实际运用中不断提高操作技能水平。 </p>
        <p>2、在操作中，如遇任何疑问或者问题，要及时反应上报，或找相关人员及时处理解决，如造成流程问题的，当事人负主要责任。</p>
        <p>3、各部门的直接操作人员应在规定时间内将上报业务数据及时录入（知道或应当之日起的2天内操作完成），如果超时录入不能形成业务数据链，导致在系统中的数据不完整的，严肃处理; 第一次罚款50、第二次罚款100、第三次停止操作该系统。</p>
        @*<table class="table table-border table-bordered table-bg">
            <thead>
                <tr>
                    <th colspan="7" scope="col">信息统计</th>
                </tr>
                <tr class="text-c">
                    <th>统计</th>
                    <th>资讯库</th>
                    <th>图片库</th>
                    <th>产品库</th>
                    <th>用户</th>
                    <th>管理员</th>
                </tr>
            </thead>
            <tbody>
                <tr class="text-c">
                    <td>总数</td>
                    <td>92</td>
                    <td>9</td>
                    <td>0</td>
                    <td>8</td>
                    <td>20</td>
                </tr>
                <tr class="text-c">
                    <td>今日</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                </tr>
                <tr class="text-c">
                    <td>昨日</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                </tr>
                <tr class="text-c">
                    <td>本周</td>
                    <td>2</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                </tr>
                <tr class="text-c">
                    <td>本月</td>
                    <td>2</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                </tr>
            </tbody>
        </table>*@
    </div>

