<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="XNHREntities" connectionString="metadata=res://*/XNHRModel.csdl|res://*/XNHRModel.ssdl|res://*/XNHRModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=61.129.57.23;initial catalog=EHR821_201711;user id=yexinfeng;password=LuoYuTing#1127$1986;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="XNGYPEntities" connectionString="metadata=res://*/XNGYP.csdl|res://*/XNGYP.ssdl|res://*/XNGYP.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=61.129.57.23;initial catalog=XNGYP;user id=yexinfeng;password=LuoYuTing#1127$1986;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="XNERPEntities" connectionString="metadata=res://*/XNERPModel.csdl|res://*/XNERPModel.ssdl|res://*/XNERPModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=61.129.57.23;initial catalog=XNERP;user id=yexinfeng;password=LuoYuTing#1127$1986;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SaleHREntities" connectionString="metadata=res://*/SaleHRModel.csdl|res://*/SaleHRModel.ssdl|res://*/SaleHRModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=61.129.57.23;initial catalog=EHR_yx;user id=yexinfeng;password=LuoYuTing#1127$1986;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>