<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="XNHREntities" connectionString="metadata=res://*/XNHRModel.csdl|res://*/XNHRModel.ssdl|res://*/XNHRModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=61.129.251.164;initial catalog=XiangNingHR;user id=yexinfeng;password=HaoRen!@#1986;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="XNGYPEntities" connectionString="metadata=res://*/XNGYP.csdl|res://*/XNGYP.ssdl|res://*/XNGYP.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=61.129.251.164;initial catalog=XNGYP;user id=yexinfeng;password=HaoRen!@#1986;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="XNERPEntities" connectionString="metadata=res://*/XNERPModel.csdl|res://*/XNERPModel.ssdl|res://*/XNERPModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=61.129.251.164;initial catalog=XNERP;user id=yexinfeng;password=HaoRen!@#1986;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SaleHREntities" connectionString="metadata=res://*/SaleHRModel.csdl|res://*/SaleHRModel.ssdl|res://*/SaleHRModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=61.129.251.164;initial catalog=EHR_yx;user id=yexinfeng;password=HaoRen!@#1986;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="XNFinanceEntities" connectionString="metadata=res://*/XNFinance.csdl|res://*/XNFinance.ssdl|res://*/XNFinance.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=61.129.251.164;initial catalog=XNFinance;user id=yexinfeng;password=HaoRen!@#1986;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <authentication mode="Forms">
      <forms name=".XNGYPCookie" loginUrl="~/Account/Login" protection="All" timeout="60"/>
      <!--<forms loginUrl="~/Account/Login" timeout="2880"/>-->
    </authentication>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
</configuration>