*{margin:0px;padding:0px;}
/* clear */
.clear{clear:both;}
.clear{width:100%;display: block;clear:both;font-size:0; height:0; line-height:0;*zoom:1}
.clear:after{content:"."; clear:both; display:block; height:0; visibility:hidden;}
.clearfix:after{content:".";display:block;overflow:hidden;height:0;clear:both;visibility:hidden}.clearfix{display:block}
.rdu{-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;}  
.rdu5{-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;} 
.rdu6{-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;}
.pspace{text-indent:2em;}

.fl{ float:left;}    .fr{ float:right;}
.mt2{margin-top:2px;}.mt5{margin-top:5px;}.mt8{margin-top:8px;}.mt10{margin-top:10px;}.mt15{margin-top:15px;}.mt20{margin-top:20px;}.mt25{margin-top:25px;}.mt30{margin-top:30px;}
.printbox{width:360px;height:185px;position:relative;}
.printbox .pic{position:absolute;left:0px;top:40px;text-align:center;width:120px;overflow:hidden;}
.printbox .pic img{width:100px;height:100px;}

.printbox .txt{position:absolute;left:130px;top:10px;width:230px;overflow:hidden;}
.printbox p{line-height:160%;font-size:0.8em !important;}
.f-12{font-size:12px;}
.f-10{font-size:10px;}
.no-print{}


.htprint {width:810px;position:relative;}
.htprint h2{text-align:center;font-size:26px;letter-spacing:20px;}
.ptable{width:100%;border:1px solid #000;margin-top:10px;border-collapse:collapse;}
.ptable th{border:1px solid #000;text-align:center;line-height:30px;}
.ptable td{border:1px solid #000;text-align:center;}
.ptable td span{width:25%;display:inline-block;}
.htprint p{line-height:22px;}
.htprint u{padding:0px 10px;}

.qzbox{width:90%;margin:30px auto;}


.rtit{position:absolute;right:-25px;bottom:50px;width:15px;font-size:12px;
    margin: 0 auto;  line-height:12px !important;
    word-wrap: break-word;/*英文的时候需要加上这句，自动换行*/ }

.shprint{width:710px;position:relative;min-height:500px;}
.shprint h2{text-align:center;font-size:24px;}
.shprint h3{text-align:center;font-size:18px;letter-spacing:20px;}
.shprint p{line-height:20px;}
.shprint u{padding:0px 10px;}
.qm span{width:20%;display:inline-block;}
.sh span{width:25%;display:inline-block;}
