@model ModelProject.ContractHeaderModel
@{
    Layout = null;
    List<SelectListItem> ArrBY = new List<SelectListItem>();
    ArrBY.Add(new SelectListItem { Text = "请选择送货通道", Value = "" });
    ArrBY.Add(new SelectListItem { Text = "电梯", Value = "电梯" });
    ArrBY.Add(new SelectListItem { Text = "楼梯", Value = "楼梯" });
    int i = 1;
    string[] ZTDArr = { "月星店","红星店","工厂店"};
}
@Html.Action("_Meta", "Home")
<div class="page-container">
 
    <p class="ditem">合同编号：@Model.SN</p>
    <p class="ditem">客户姓名：@Model.Customer</p>
    <p class="ditem">业务员：@Model.SaleUserName</p>
    <p class="ditem">合同日期：@Convert.ToDateTime(Model.OrderTime).ToString("yyyy-MM-dd")</p>
    <p class="ditem">合同总金额：@Model.Amount</p>
    <p class="ditem">发货方式：@(Model.SHFlag==1?"自提":Model.SHFlag==2?"邮寄":"送货")
    @if (Model.SHFlag == 1) {<b class='c-green'> @ZTDArr[Convert.ToInt32(Model.ZTDFlag) - 1]</b>}
</p>
    <div style="clear:both"></div>
     @Html.Action("ProductListByOrder", "Order",new { Id=Model.Id})
</div>
